{{template "headerStart" }}
<link rel="stylesheet" href="./css/home.css">
{{template "mainHeaderEnd" . }}

<div class="main-container">
    {{range $post := .posts}}
    <a href="/post?id={{$post.Id}}">
        <div class="post">
            <div>
                <div class="post-title">
                    <h3>{{$post.Title}}</h3>
                </div>
                <div class="post-content">
                    <p>{{$post.Content}}</p>
                </div>
            </div>
            <div class="post-details">
                <p>Author: {{$post.AuthorUsername}}</p>
                <p>Comments: {{$post.CommentsCount}}</p>
            </div>
        </div>
    </a>
    <hr>
    {{end}}
    
    <div class="pagination">
        <p>Page</p>
    {{range $pageNumber := .paginationValues}}
    <div class="pageLink">
        <a href="/home?page={{$pageNumber}}">{{ $pageNumber }}</a>
    </div>
    {{ end }}
    </div>
</div>

{{ template "footerDetails" }}

<script src="./js/posts.js" type="text/javascript"></script>
{{ template "footerCloseDocument" }}