.comments-container{
    width: 60%;
    margin: auto;
    padding: 5px;
    background-color: #6d98b1;
    display: block;
    overflow: hidden;
    font-size: 1.2em;
    text-align: justify;
    box-sizing: border-box;
}
.comment{
    width: 90%;
    margin: auto;
    padding: 1px;
    background-color: #919ba0;
    border-bottom: 1px solid rgb(224, 137, 7);
}
.comment-details{   
    padding: 0px;
    background-color: #bdcbd3;
    color: #1e2529;
}
.comment-details div{
    display: inline-block;
    padding: 2px;
}
.comment-content{
    padding: 0px 0px 0px 10px;
    width: 90%;
    margin: 5px auto 10px;
    background-color: #bdcbd3;
    color: #1e2529;
    height: 200%;
}
.comment-content p {
    padding: 5px;
}
.input-comment{
    display: block;
    width: 50%;
    margin: 1px auto;
    background-color: #6d98b1;
    font-size: 1.2em;
    overflow: hidden;
    text-align: justify;
}
.input-comment p {
    padding: 5px 0px 0px 10px;
    color: #1e2529;
    height: 200%;
    font-size: 1.2em;
}
.add-comment-input{
    width: 90%;
    margin: 2px auto;
    display: block;
    font-size: 1.1em;
}
.add-comment-btn{
    font-size: 1em;
    float: right;
    margin: 10px;
    color: #1e2529;
}