.navigation-bar{
    display: block;
    border-bottom: 3px solid #78685f;
    margin: auto;
    border: 2px #93a2aa solid;
    background-color: #93a2aa;
}
.navigation-bar ul {
    overflow: hidden;
}
.navigation-bar li{
    float: left;
    padding: 1em;
    font-size: 1.2em;
    color: #1e2529;
    font-style: oblique;
}
.navigation-bar li i{
    padding-left: 5px;
}
.navigation-bar li:hover{
    background-color: #234252;
    color: #93a2aa;
}
.nav-login-logout{
    float: right;
}
div.logged-in-user {
    padding: 1em 1em 1em 5px;
    color: #93a2aa;
    height: 100%;
    font-size: 0.8em;
    position: absolute;
    right: 0;
}
@media only screen and (max-device-width: 1000px) {
    .navigation-bar li {
        font-size: 2em;
    }
    div.logged-in-user {
        font-size: 1.5em;
    }
    h1 {
        font-size: 2em;
    }
}