.post{
    margin:1em;
    width: 60%;
    margin: auto;
    border: 2px #234245 solid;
    border-radius: 5px;
    background-color: #93a2aa;
    font-size: 1.2em;
}
.post-title{
    font-size: 2em;
    color: #1e2529;
    width: 40%;
    float: left;
    padding: 1em;
}
.post-author-details{
    color: #1e2529;
    float: right;
    padding: 1em;
}
.post-content{
    width: 80%;
    margin: 1em auto;
    display: block;
    overflow: hidden;
    text-align: justify;
}
.post-author-name{
    font-style: oblique;
}
