.register-form {
    display: block;
    border-bottom: 3px solid #78685f;
    width: 50%;
    margin: 2em auto;
    border-bottom: 3px solid #78685f;
    background-color: #93a2aa;
    font-size: 1.5em;
    color: #1e2529;
    overflow: hidden;
}

.register-form-header, .register-form-footer {
    padding: 0.3em 0;
    text-align: center;
}

.register-form-element {
    font-size: 1em;
    display: block;
    overflow: hidden;
}

.register-form-element label {
    display: block;
    padding-left: 1em;
    font-style: oblique;
}

.register-form-element input {
    width: 90%;
    margin: 1em auto;
    padding: 10px 10px;
    display: block;
    border: none;
    background: #f1f1f1;
}

.register-form-element input:focus {
    background-color: #ddd;
    outline: none;
}
.register-form-button{
    font-size: 1em;
    float: right;
    margin: 10px;
    color: #1e2529;
}
@media only screen and (max-device-width: 600px) {
    .register-form {
        width: 90%;
    }
}